<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
              <div class="sb-sidenav-menu-heading">Home</div>
              <a class="nav-link collapsed" href="formPost" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                  ><div class="sb-nav-link-icon"></div>
                  Posts
                  <div class="sb-sidenav-collapse-arrow"></div
              ></a>
              <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                  <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href=""></a><a class="nav-link" href="/formCategory">Light Sidenav</a></nav>
              </div>
              <a class="nav-link collapsed" href="formCategory" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                  ><div class="sb-nav-link-icon"></div>
                  Categorias
                  <div class="sb-sidenav-collapse-arrow"></div
              ></a>
              <div class="sb-sidenav-menu-heading">Formularios</div>
              <a class="nav-link collapsed" href="formPost" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                  ><div class="sb-nav-link-icon"></div>
                  Posts
                  <div class="sb-sidenav-collapse-arrow"></div
              ></a>
              <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                  <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href=""></a><a class="nav-link" href="/formCategory">Light Sidenav</a></nav>
              </div>
              <a class="nav-link collapsed" href="formCategory" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                  ><div class="sb-nav-link-icon"></div>
                  Categorias
                  <div class="sb-sidenav-collapse-arrow"></div
              ></a>
              <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                  <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"
                          >Authentication
                          <div class="sb-sidenav-collapse-arrow"></div
                      ></a>
                      <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                          <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a class="nav-link" href="register.html">Register</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
                      </div>
                      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError"
                          >Error
                          <div class="sb-sidenav-collapse-arrow"></div
                      ></a>
                      <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                          <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
                      </div>
                  </nav>
              </div>
              <div class="sb-sidenav-menu-heading">Gerenciar</div>
              <a class="nav-link" href="/posts"
                  ><div class="sb-nav-link-icon">
                  </div>
                  Posts</a
              >
              <a class="nav-link" href="category"
                  ><div class="sb-nav-link-icon">

                  </div>
                  Categorias</a
              >
          </div>
      </div>
      <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          Ítalo
      </div>
  </nav>
</div>
