<div class="container-fluid">
  <h1 class="mt-4">Categorias</h1>
  <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Categorias</li>
  </ol>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Guid</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of category">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>{{category.guid}}</td>
        <td>
          <button class="btn btn-warning" type="submit" style="margin-right: 5px !important;" (click)="editarCategory(category.id)">
            Update
          </button>
          <button class="btn btn-danger" type="submit" (click)="delete(category.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


