<div class="sb-nav-fixed">
  <app-header></app-header>
  <div id="layoutSidenav">
      <app-sidenav></app-sidenav>
      <div id="layoutSidenav_content">
        <main>
            <router-outlet></router-outlet>
            <footer class="footer-07">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-12 text-center">
                    <h2 class="footer-heading"><a href="#" class="logo">Blog pessoal</a></h2>
                    <p class="menu">
                      <a href="/posts">Home</a>
                      <a href="#">Agent</a>
                      <a href="#">About</a>
                      <a href="#">Listing</a>
                      <a href="#">Blog</a>
                      <a href="#">Contact</a>
                    </p>
                    <ul class="ftco-footer-social p-0">
                      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="ion-logo-twitter"></span></a></li>
                      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="ion-logo-facebook"></span></a></li>
                      <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="ion-logo-instagram"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </footer>
        </main>
      </div>
</div>


