
<div class="page-wrapper bg-dark p-t-100 p-b-50">
  <div class="wrapper wrapper--w900">
      <div class="card card-6">
          <div class="card-heading">
              <h2 class="title"></h2>
          </div>
          <div class="card-body">
              <form [formGroup]="editPostForm">
                  <div class="form-row">
                      <div class= "name">Título*</div>
                      <div class="value">
                          <input class="input--style-6" type="text" name="full_name" placeholder="*Título" formControlName = "tittle">
                      </div>
                  </div>

                  <div class="form-row">
                      <div class="name">Subtítulo*</div>
                      <div class="value">
                          <div class="input-group">
                              <input class="input--style-6" type="email" name="email" placeholder="example@email.com" formControlName = "subtittle">
                          </div>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="name">Nome do autor*</div>
                      <div class="value">
                        <div class="input-group">
                            <input class="input--style-6" type="text" name="text" placeholder="example@email.com" formControlName = "author">
                        </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="name">Categoria*</div>
                    <div class="value">
                      <select class="form-select" aria-label="Default select example"
                        formControlName = 'category_id'
                      >
                        <option value="">Selecione a categoria</option>
                        <option  *ngFor="let category of category" [ngValue]="category.id">{{category.name}}</option>

                      </select>
                    </div>
                </div>
                  <div class="form-row">
                    <div class="name">Texto*</div>
                    <div class="value">
                        <textarea class="textarea--style-6" name="message" placeholder="Message sent to the employer" formControlName = "text" ></textarea>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn--radius-2 btn--blue-2" type="submit" (click)="onSubmit(editPostForm.value, post.id)">Enviar post</button>
                </div>
              </form>
          </div>

      </div>
  </div>
</div>





